body { margin:0; font: 100%/1.5 Helvetica,Arial,sans-serif;
font-weight: 100;
-webkit-font-smoothing: antialiased; }
#main { width:100%; }
.header { width:100%; height:90px; background-color:#544ba8; }
.header h1 { margin:0; padding:0; color:#FFF; font-weight:100; font-size: 45px; }
nav { width:990px; margin:0 auto; padding-top: 25px; }
.container { width:990px; margin:0 auto; background:url("../images/bg.jpg") 0 -90px no-repeat ; }

.search { position:relative; width:800px; height:475px; margin:0 auto; }
.searchBox { position:absolute; top:50px; width:800px; height:300px; background-color:#FFF; border-radius:5px; border:10px solid #FFF; background-color:rgba(219, 203, 175, 0.61); }

fieldset { border:none; }

.footerText { width:100%; height:130px; margin:0 auto; background-color:#FFF; }
.footerText h2 { margin:0 auto; padding:30px 0 0 0; width:596px; font-weight:100; font-size: 45px; color:#411085; }


/* search results*/
.contanierSearchRsults { width:990px; margin:0 auto; background:#FFF; }
.searchheader { width:100%; height:35px; padding:10px 0; margin:3px 0; background-color: #fad335; }
.box { float:left; width:89px; margin:0 0 0 10px; padding:10px; line-height: 0.9em; border-radius: 5px; background-color: #FFF; }
.boxLarge { width:114px; }
.resultsrows { width:100%; height:100px; }
.resultsrow { margin:0; padding:0;  }
.destInfo { padding:10px 10px 10px 0; display: inline-block; width:107px; text-align:center; }

.result-row { padding:10px 0; background-color:#f8f8f9; border-bottom:2px solid #f2f2f3;  }

.result-row:nth-child(even)	{ padding:10px 0;  background-color:#f8f8f9; border-bottom:2px solid #f2f2f3; }
.watchButton { padding:10px; font-size:16px; color:#FFF; font-weight:100; border:none; background-color:#8dc63f; border-radius:5px; }

/* my flights */
.containerMyFlights { width:990px; height:400px; margin:0 auto; background:url("../images/bg.jpg") 0 -140px no-repeat ; }
.containerMyFlights form { margin:3px 0 0 0; padding:65px 0 0 0; } 
.containerMyFlights input { width:300px; padding:10px; margin:10px 0 10px 10px; font-weight:normal; }
#buttonGo { width:320px; padding:10px; margin:10px; font-size:27px; color:#FFF; font-weight:100; border:none; background-color:#8dc63f; border-radius:5px; }
#firstname { font-size:14px; border:none; border-radius:5px;}
#lastname { font-size:14px; border:none; border-radius:5px;}
#email { font-size:14px; font-weight:normal; border:none; border-radius:5px;}
